target/
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/
*.iml
.lein-failures
.lein-repl-history
.nrepl-port
resource/
crawler/test/resources/parser/
crawler/resources/creds.edn