^{
  :open-url "http://localhost:9500/test.html"
  :watch-dirs ["src" "test"]
  :ring-server-options {:port 9501}
  
  :launch-js ["chromium" "--headless" "--disable-gpu" "--repl" :open-url]
  }
{:main ui.test.main}
